#title {
  text-align: center;
}

body {
  background: #12343b;
}

.App{

background-color: #e1b382;
height: 600px;
width: 500px;
margin: 50px auto;
border-style: solid;
border-radius: 1rem;
border-color: white;
}

#to-do input{
  background-color: white;
  border: 0px;
  width: 18rem;
  height: 2rem;
  margin: 3rem;
  padding:0 20px ;
  border-radius: 10px;

}

#to-do input::placeholder{
  color: black;
}

#to-do button{
  width: 4rem;
  height: 2.2rem;
  padding: 0 10px;
  border-radius: 3px;
  border: 0;
  background-color: #145663;
  color: white;
  font-size: 15px;
  font-weight: bold;
}